:root {
	--grid-size: 10;
}

.grid {
	display: inline-grid;
	grid-template-columns: repeat(var(--grid-size), 1fr);
	grid-template-rows: repeat(var(--grid-size), 1fr);
	border: thin solid gray;
}

.tile {
	min-width: 12px;
	min-height: 12px;
	margin: 1px;
	font-size: 10px;
	text-align: center;
}

.tile.bomb {
	border-radius: 2px;
	width: 10px;
	min-width: 11px;
	height: 10px;
	min-height: 11px;
}

.grid.lost .tile.bomb {
	background-color: red;
}

.grid.lost .tile.bomb:not(.flagged) input {
	display: none;
}

.tile.exposed.bomb {
	background-color: red;
}